!!!
%html{lang: 'en'}

  %head
    %title
      = yield :title_comp
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1', charset: 'UTF-8'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = render 'shared/shim'

  %body
    = render 'shared/header'

    .container
      = render 'shared/flash'

      = yield

      = render 'shared/footer'

      = debug(params) if Rails.env.development?